.center-div {
  width: 700px;
  margin: 0 auto; }

.body-content {
  padding-top: 60px;
  min-height: 600px;
  text-align: center; }

.bold {
  font-weight: 600;
  font-size: 20px; }

.btn-back {
  height: 50px;
  padding: 10px;
  font-size: 15px;
  width: 100px;
  background-color: #25b36c;
  border-radius: 5px;
  color: white;
  margin: 10px; }

.btn {
  margin-top: 5px !important; }

* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none !important; }

html, body {
  box-sizing: border-box;
  width: 100%; }

.top-nav-div {
  width: 100%;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.1); }
  .top-nav-div-inner {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px; }
    .top-nav-div-inner .div-logo {
      cursor: pointer; }
      .top-nav-div-inner .div-logo .span-red {
        color: red; }
      .top-nav-div-inner .div-logo .span-green {
        color: green;
        line-height: 0;
        font-weight: bolder; }
      .top-nav-div-inner .div-logo .div-line {
        background-color: red;
        width: 80px;
        height: 3px; }
    .top-nav-div-inner .btn {
      padding: 0px 12px !important; }
    .top-nav-div-inner .div-btn {
      margin-top: 20px;
      height: 50px;
      padding-bottom: 10px; }
      .top-nav-div-inner .div-btn a {
        display: block;
        height: 100%;
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        padding: 10px; }

footer {
  background-color: rgba(128, 128, 128, 0.5);
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  font-size: 20px; }

table thead tr th {
  width: 200px; }

/*ADMIN LAYOUT STYLE*/
.top-nav-div-admin {
  width: 100%;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.5);
  position: fixed;
  z-index: 1; }
  .top-nav-div-admin-inner {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px; }
    .top-nav-div-admin-inner .div-logo {
      text-decoration: none; }
      .top-nav-div-admin-inner .div-logo .span-red {
        color: red; }
      .top-nav-div-admin-inner .div-logo .span-green {
        color: #01a350;
        line-height: 0;
        font-weight: bolder; }
      .top-nav-div-admin-inner .div-logo .div-line {
        background-color: #ee403a;
        width: 80px;
        height: 3px; }

.main-section {
  height: auto;
  display: flex;
  padding-top: 100px; }
  .main-section aside {
    height: auto;
    min-width: 250px;
    margin-right: 15px;
    background-color: #01a350; }
    .main-section aside div {
      background-color: #25b36c;
      margin-bottom: 2px; }
      .main-section aside div a {
        display: inline-block;
        height: 100%;
        width: 100%;
        margin: 10px 1.5em;
        font-size: 20px;
        color: #fff;
        text-decoration: none; }

/*END OF ADMIN LAYOUT STYLE*/
/*INDEX PAGE STYLE*/
.title {
  margin-bottom: 40px;
  text-align: center; }

.display-flex {
  display: flex;
  flex-wrap: wrap; }
  .display-flex .product-container {
    border: solid 2px rgba(128, 128, 128, 0.5);
    margin-right: 20px;
    border-radius: 5px;
    margin-bottom: 20px; }
    .display-flex .product-container img {
      width: 200px;
      min-height: 250px; }
    .display-flex .product-container-details div {
      width: 100%;
      text-align: center; }
    .display-flex .product-container-details .price {
      font-weight: 600; }

/*END OF INDEX PAGE STYLE*/
.details-div {
  display: flex; }
  .details-div div {
    padding: 50px 50px 0 0; }
    .details-div div img {
      height: 500px;
      max-height: 500px; }
    .details-div div div {
      width: 100%; }

.back-div {
  margin-top: 50px;
  margin-bottom: 20px; }

.items-sold-view {
  margin: 50px 0 150px 200px;
  padding: 50px;
  height: 400px;
  text-align: center;
  border: solid 2px rgba(128, 128, 128, 0.5);
  border-radius: 5px; }

.center-form {
  width: 40%;
  min-width: 500px;
  text-align: left;
  margin: 50px auto;
  border-radius: 5px;
  border: solid 1px rgba(128, 128, 128, 0.5);
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.1); }
  .center-form .input-fill {
    width: 100%;
    background-color: #25b36c; }
