@model Sokokapu_Stock_Management.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="Create" class="center-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">

        </div>
    </div>
    <div class="form-group ">
        <input type="submit" value="Create" class="btn btn-default input-fill" />
    </div>
</form>

<div>
    <a asp-action="ManageCategories"><i class="fas fa-backward"></i>Back to List</a>
</div>

