@model Sokokapu_Stock_Management.Models.Category

@{
    ViewData["Title"] = "DeActivate";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<form asp-action="DeActivate" class="center-form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Description" />

    <h4>@Model.Name</h4>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
            </label>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>


